@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

/* appling a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  display: inline-block;
}

header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: maroon;
  margin: 0px auto;
  /*padding: 10px, 30px, 10px;*/
  /*Opacity start*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  /*Opacity end*/
  vertical-align: bottom;
}

/*whole header list aligns to the right*/
header nav ul {
  text-align: right;
}

/*make nav lists inline with eachother*/
header nav li {
  display: inline;
}

/*header links have padding between them and font color is white*/
header nav a {
  padding: 2em;
  color: white;
}

/*header links will have black font and white background when touched with mouse*/
header nav a:hover {
  color: black;
  background-color: white;
}

/*no underline for links in header or footer*/
a {
  text-decoration: none;
}

header h2 a {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  display: inline;
  position: absolute;
  padding: 2em;
}

/*h2 in header will have black font and white background when touched with mouse*/
header h2 a:hover {
  color: black;
  background-color: white;
}

section h1 {
  text-align: center;
  font-size: 4em;
  padding: 20%;
  margin-top: 2em;
  border-bottom: solid;
}

h1, h2 {
  font-family: 'Baloo Bhaina';
}

section:first-of-type {
  background-image: url(../assets/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#all-articles {
  margin: 0% 10% 0%;
  border: 0% 2%;
  border-bottom: solid;
}

article {
  height: 300px;
  width: 270px;
  text-align: center;
  /*margin: auto;*/
  display: inline-block;
  max-width: 25%;
  border: solid;
  padding: .5em;
  border-radius: 10%;

}

#all-articles h2 {
  text-align: center;
  font-size: 3em;
}

article h3 {
  border-bottom: solid;
}

article p a {
  /*text-transform: capitalize;*/
  border: solid;
  border-radius: 2em;
  padding: .5em 1.4em;
}

#join h2 {
  clear: both;
  text-align: center;
  font-size: 3em;
  max-width: 40%;
  padding-left: 1em;
}

#join h2, #join p {
  float: none;
  max-width: 40%;
  padding-left: 4em;
  text-align: center;

}

#join img {
  width: 100%;
  height: auto;
  max-width: 35%;
  float: right;
}

#everybody {
  clear: both;
}

#disclaimer {
  max-width: 40%;
  font-size: 0.5em;
  clear: right;
}

footer h4 {
  font-size: .1em;
}

footer nav ul {
  float: right;
  bottom: 0;
}

footer {
  background-color: grey;
  width: 100%;
  bottom: 0px;
}
